# Remix / local generated data
.deps/
.states/

# Dependencies
node_modules/

# Environment / secrets
.env
.env.*
!.env.example

# Build artifacts
artifacts/
cache/
out/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/